<table class="table is-bordered is-striped is-hoverable is-fullwidth">
    
  <!-- <tr>
    <img src=<%= event.urlimg %> alt="Placeholder image" style="width: 1400px; height: 400px">
</tr>

<tr>
    <th> Event Name </th>
    <td><%= event.name %></td>
</tr> -->



    <!-- <% events.forEach( function(event) { %> -->
    
        <tr><td><%= event.urlimg %></td> <td> <%= event.name %></td> </tr>
           <tr> <a href="/event/home/<%= event.id %>"><%=event.name%></a> </tr>
        
    <!-- <% }); %> -->
   
        
</table>